body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0px;
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: crosshair;
  caret-color: #54052a;
}

@font-face {
  font-family: Baskervville;
  src: url(assets/fonts/Baskervville/Baskervville-Regular.ttf);
}

@font-face {
  font-family: Anuphan;
  src: url(assets/fonts/Anuphan/Anuphan-VariableFont_wght.ttf);
}

/* 
1. make mobile friendly 
2. download font to avoid flicker?
*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 30px;
  flex: 0 1 auto;
  align-items: flex-end;
  padding-top: 15px;
}

header .menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

header .menu a {
  padding-right: 20px;
  color: #54052a;
  font-family: "Anuphan", serif;
  margin: 0;
  font-size: 18px;
}

header .menu a:last-child {
  padding-right: 0px;
}

header a h3 {
  font-family: "Baskervville", serif;
  font-size: 32px;
  color: #54052a;
  margin: 0;
}

header h3 a:hover {
  text-decoration: none;
}

/* grid styling */
.section-wrapper {
  display: grid;
  flex: 1 1 auto;
  grid-gap: 15px;
  margin: 30px 30px;

  .section {
    position: relative;
    text-align: center;
  }

  h2 {
    font-size: 32px;
    font-family: "Baskervville", serif;
    color: #efeff0;
    opacity: 0.95;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
  }

  a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }

  img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* homepage customization */
.section-wrapper.homepage {
  grid-template-columns: 1fr 1fr;
}

/* categories customization */
.section-wrapper.categories {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding-bottom: 10px;

  .section {
    min-height: 300px;

    &:nth-child(1) {
      grid-column-start: 1;
      grid-row-start: 1;
      grid-column-end: 5;
      grid-row-end: 4;
      min-height: 600px;
    }

    &:nth-child(2) {
      grid-column-start: 5;
      grid-row-start: 1;
      grid-column-end: 7;
      grid-row-end: 2;
    }

    &:nth-child(3) {
      grid-column-start: 5;
      grid-row-start: 2;
      grid-column-end: 7;
      grid-row-end: 4;
    }

    &:nth-child(4) {
      grid-column-start: 1;
      grid-row-start: 4;
      grid-column-end: 4;
      grid-row-end: 8;
      min-height: 400px;
    }

    &:nth-child(5) {
      grid-column-start: 4;
      grid-row-start: 4;
      grid-column-end: 7;
      grid-row-end: 8;
      min-height: 400px;
    }
  }
}

/* Project Details */
.project-detail-section-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex: 1 1 auto;
  margin: 30px;
  grid-gap: 15px;
}

.project-detail-section img {
  width: 100%;
  margin-bottom: 15px;
}

.project-description {
  padding: 100px;
  background-color: #eee;
  color: #54052a;
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}

.project-description-title,
.project-description h4 {
  font-family: "Anuphan", serif;
  margin: 3px;
  font-size: 18;
}

.project-description-description {
  font-family: "Baskervville", serif;
  font-size: 16px;
  margin: 4px;
}

/* lightbox  */
.fslightbox-nav .fslightbox-toolbar {
  background: none;
}

.fslightbox-slide-btn-container .fslightbox-slide-btn {
  background: none;
}

.fslightbox-toolbar-button:first-child {
  visibility: hidden;
}

.fslightbox-container {
  background: linear-gradient(#ffffff, rgb(255 255 255 / 90%) 10%) !important;
}

.fslightbox-svg-path {
  fill: #54052a !important;
}

.fslightbox-slash {
  background-color: #54052a !important;
}

.fslightbox-slide-number-container {
  color: #54052a !important;
}