body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0px;
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

@font-face {
  font-family: Baskervville;
  src: url(assets/fonts/Baskervville/Baskervville-Regular.ttf);
}

@font-face {
  font-family: Anuphan;
  src: url(assets/fonts/Anuphan/Anuphan-VariableFont_wght.ttf);
}

/* 
1. make mobile friendly 
2. download font to avoid flicker?
*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 30px;
  flex: 0 1 auto;
  align-items: flex-end;
  padding-top: 15px;
}

header .menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

header .menu a {
  padding-right: 15px;
  color: #54052a;
  font-family: "Anuphan", serif;
  margin: 0;
}

header .menu a:last-child {
  padding-right: 0px;
}

header a h3 {
  font-family: "Baskervville", serif;
  font-size: 32px;
  color: #54052a;
  margin: 0;
}

header h3 a:hover {
  text-decoration: none;
}

.homepage-section-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex: 1 1 auto;
}

.homepage-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage-section h2 {
  font-size: 32px;
  font-family: "Baskervville", serif;
  color: #efeff0;
  opacity: 0.95;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.homepage-section.left {
  /* background-image: url("projects.avif");
  background-position: center center;
  background-size: cover; */
  margin: 30px 15px 30px 30px;
  position: relative;
}

.homepage-section.right {
  /* background-image: url("collection.png");
  background-position: center center;
  background-size: cover; */
  margin: 30px 30px 30px 15px;
  position: relative;
}

.homepage-section a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.homepage-section img {
  position: relative;
  bottom: 200px;
  width: 800px;
}

.projects-section-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  flex: 1 1 auto;
  margin: 15px 30px;
}

.project-wrapper {
  position: relative;
  margin: 3px;
  text-align: center;
}

.project-wrapper a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.project-wrapper img {
  position: relative;
  bottom: 200px;
  width: 960px;
}

.project-wrapper h2 {
  font-size: 32px;
  font-family: "Baskervville", serif;
  color: #efeff0;
  opacity: 0.95;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.project-wrapper:nth-child(1) {
  grid-column: span 3;
  min-height: 600px;
  margin-left: -3px;
}

.project-wrapper:nth-child(2) {
  grid-column: span 3;
  min-height: 600px;
  margin-right: -3px
}

.project-wrapper:nth-child(3) {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-column-end: 5;
  grid-row-end: 5;
  min-height: 600px;
  margin-left: -3px;
}

.project-wrapper:nth-child(4) {
  grid-column-start: 5;
  grid-row-start: 2;
  grid-column-end: 7;
  grid-row-end: 2;
  min-height: 300px;
  margin-right: -3px;
}

.project-wrapper:nth-child(5) {
  grid-column-start: 5;
  grid-row-start: 3;
  grid-column-end: 7;
  grid-row-end: 3;
  min-height: 300px;
  margin-right: -3px;
}

.project-detail-section-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex: 1 1 auto;
  margin: 30px;
}

.project-detail-section.left {
  margin-right: 3px;
}

.project-detail-section.right {
  margin-left: 3px;
}

.project-detail-section img {
  width: 100%;
  margin-bottom: 3px
}